.popup {
  width: 280px;
  height: 465px;

  border: 1px solid;
  margin: 40px auto;

  @media @screen-gt-s {
    width: 242px;
  }

  @media @screen-gt-m {
    width: 330px;
    height: 543px;
  }
}

.popup-container {
  position: relative;
  width: 240px;
  margin: 20px auto 0 auto;

  @media @screen-gt-s {
    width: 212px;
  }

  @media @screen-gt-m {
    width: 290px;
  }

  &__button-close {
    position: absolute;
    z-index: 100;
    right: -10px;
    top: -10px;
  }
}
