.popup {
  width: 280px;
  height: 465px;

  border: 1px solid;
  margin: 40px auto;
}

.popup-container-top {
  position: relative;
  width: 212px;
  margin: 20px auto 0 auto;

  &__button-close {
    position: absolute;
    z-index: 100;
    right: -20px;
    top: -10px;
  }
}

.popup-container-bottom {
  width: 240px;
  margin: 0 auto;
}
