.form {
  height: 820px;
  background-color: @color-light;

  &__heading {
    margin-top: 20px;
    text-align: left;
  }

  &__input-text {
    margin: 10px 0;
  }

  &__input-tel {
    display: flex;
    margin-top: 5px;
  }

  &__delivery-method {
    display: flex;
  }
}
