.features-section {
  background-color: @color-grey;
  padding-bottom: 20px;

  &__feature {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  @media @screen-gt-m {
    height: 100px;
    padding-bottom: 0;
    padding-top: 10px;
  }
}
